# See https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#global-chart-values
global:
  security:
    allowInsecureImages: true
  serviceAccountName:

nameOverride: chwf
fullnameOverride: chwf

# See https://github.com/8gears/n8n-helm-chart/blob/main/charts/n8n/values.yaml
n8n:
  enabled: false

  nameOverride: chwf-n8n
  fullnameOverride: chwf-n8n

  image:
    repository: ghcr.io/bcgov/chwf
    tag: 742812c0226ebad114b977ca3cdc12e4fb15bc9e # pragma: allowlist secret
    pullPolicy: IfNotPresent

  env:
    # See https://docs.n8n.io/hosting/configuration/supported-databases-settings/#postgresdb
    DB_TYPE: "postgresdb"
    DB_POSTGRESDB_DATABASE: "n8n"
    DB_POSTGRESDB_HOST: "chwf-postgresql"
    DB_POSTGRESDB_PORT: "5432"
    DB_POSTGRESDB_USER: "nonroot"
    DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED: "true"
    # DB_POSTGRESDB_PASSWORD (default: empty)
    # See https://docs.n8n.io/hosting/configuration/configuration-examples/user-folder/#specify-user-folder-path
    N8N_BLOCKLIST_FUNCTIONS_ALLOW_BUILTIN: "*"
    # See https://docs.n8n.io/hosting/configuration/environment-variables/binary-data/#binary-data-environment-variables
    N8N_DEFAULT_BINARY_DATA_MODE: "filesystem"
    # See https://docs.n8n.io/hosting/configuration/environment-variables/security/#security-environment-variables
    N8N_BLOCK_ENV_ACCESS_IN_NODE: "true"
    N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "false"
    N8N_GIT_NODE_DISABLE_BARE_REPOS: "false"
    # See https://docs.n8n.io/hosting/configuration/environment-variables/task-runners/#n8n-instance-environment-variables
    N8N_RUNNERS_ENABLED: "true" # runner.enabled = true
    N8N_RUNNERS_MODE: "external"
    N8N_RUNNERS_BROKER_LISTEN_ADDRESS: "0.0.0.0"
    # See https://docs.n8n.io/hosting/scaling/concurrency-control/#self-hosted-concurrency-control
    N8N_CONCURRENCY_PRODUCTION_LIMIT: "-1"
    # See https://docs.n8n.io/hosting/configuration/task-runners/#setting-up-external-mode
    N8N_NATIVE_PYTHON_RUNNER: "true"
    # See https://docs.n8n.io/hosting/configuration/environment-variables/queue-mode/#queue-mode-environment-variables
    OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS: "true"
    QUEUE_BULL_REDIS_HOST: "chwf-redis-master"
    QUEUE_BULL_REDIS_PORT: "6379"
    # See https://docs.n8n.io/hosting/configuration/environment-variables/executions/#executions-environment-variables
    EXECUTIONS_MODE: "queue" # worker.enabled = true
    EXECUTIONS_DATA_PRUNE: "true"
    EXECUTIONS_DATA_MAX_AGE: "336"
    # See https://docs.n8n.io/hosting/configuration/environment-variables/user-management-smtp-2fa/
    N8N_EMAIL_MODE: "smtp"
    # Extra
    N8N_WORKER_SERVER_ADDRESS: "0.0.0.0"
    N8N_TRUST_PROXY: "true"
    N8N_BLOCK_FS_WRITE_ACCESS: "true"

  extraEnv:
    DB_POSTGRESDB_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: chwf-postgresql
          key: user-password
    QUEUE_BULL_REDIS_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: chwf-redis
          key: redis-password
  main:
    env:
      OIDC_ROLES_CLAIM: client_roles

    envSecretName: chwf # pragma: allowlist secret

    resources:
      requests:
        cpu: 300m
        memory: 576Mi
      limits:
        cpu: 500m
        memory: 1Gi

  worker:
    enabled: true

    resources:
      requests:
        cpu: 300m
        memory: 576Mi
      limits:
        cpu: 500m
        memory: 1Gi

  webhook:
    enabled: false

    resources:
      requests:
        cpu: 300m
        memory: 576Mi
      limits:
        cpu: 500m
        memory: 1Gi

  runner:
    enabled: false

    env:
      N8N_RUNNERS_MAX_CONCURRENCY: "20"
      N8N_BLOCK_FS_WRITE_ACCESS: "true"

    resources:
      requests:
        cpu: 400m
        memory: 768Mi
      limits:
        cpu: 500m
        memory: 1Gi

  persistence:
    size: 2Gi

  route:
    host:

# See https://github.com/bitnami/charts/tree/main/bitnami/postgresql
postgresql:
  enabled: true

  image:
    registry: ghcr.io
    repository: egose/bitnami-postgresql
    tag: '18.1'

  primary:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    persistence:
      size: 1Gi
  readReplicas:
    persistence:
      size: 1Gi
  global:
    postgresql:
      auth:
        database: n8n
        username: nonroot
        replicationUsername: replication
        existingSecret: chwf-postgresql # pragma: allowlist secret
        secretKeys:
          adminPasswordKey: admin-password # pragma: allowlist secret
          userPasswordKey: user-password # pragma: allowlist secret
          replicationPasswordKey: replication-password # pragma: allowlist secret

# See https://github.com/bitnami/charts/tree/main/bitnami/redis
redis:
  enabled: true
  architecture: standalone

  image:
    registry: ghcr.io
    repository: egose/bitnami-redis
    tag: '8.4.0'

  master:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
    persistence:
      size: 1Gi
  auth:
    existingSecret: "chwf-redis" # pragma: allowlist secret
    existingSecretPasswordKey: "redis-password" # pragma: allowlist secret
