APP_ENV=local
DOMAIN_NAME=one.one.one.one
PRIMARY_IPS=1.1.1.1
SECONDARY_IPS=1.0.0.1
ALERT_EMAIL_RECIPIENTS=test@example.com
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SENDER=DoNotReplyCITZ@gov.bc.ca
POLL_INTERVAL=5
ALERT_ON_STARTUP=false
