VITE_API_BASE_URL=/
VITE_OIDC_AUTHORITY=http://localhost:8080/realms/starter
VITE_OIDC_CLIENT_ID=external-ui
VITE_OIDC_REDIRECT_URI=http://localhost:5173/ui/auth/callback
VITE_OIDC_POST_LOGOUT_URI=http://localhost:5173/ui/
VITE_OIDC_SCOPES=openid email profile
