{{- $imageRepository := coalesce .Values.main.image.repository .Values.image.repository -}}
{{- $deploymentTag := coalesce .Values.main.image.tag .Values.image.tag .Chart.AppVersion -}}
{{- $imagePullPolicy := coalesce .Values.main.image.pullPolicy .Values.image.pullPolicy -}}
{{- $envSecretName := coalesce .Values.main.envSecretName .Values.envSecretName -}}

{{- $pvcName := include "_.fullname" . -}}
{{- $pvc := (lookup "v1" "PersistentVolumeClaim" .Release.Namespace $pvcName) -}}

{{- if and (gt .Release.Revision 1) $pvc (index $pvc "metadata") }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "_.fullname" . }}-pre
  labels: {{ include "_.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade,pre-rollback"
    "helm.sh/hook-delete-policy": "hook-succeeded,before-hook-creation"
    "helm.sh/hook-weight": "-6"
spec:
  backoffLimit: 0
  activeDeadlineSeconds: 1800
  template:
    metadata:
      name: {{ include "_.fullname" . }}-pre
    spec:
      activeDeadlineSeconds: 1800
      restartPolicy: Never
      serviceAccountName: {{ default .Values.global.serviceAccountName .Values.serviceAccountName }}
      containers:
        - name: {{ include "_.fullname" . }}-pre
          image: "{{ $imageRepository }}:{{ $deploymentTag }}"
          imagePullPolicy: {{ $imagePullPolicy }}
          command: [/bin/sh, -c]
          args:
          - |
            set -euo pipefail
            mkdir -p "$N8N_CUSTOM_EXTENSIONS"
            cd "$N8N_CUSTOM_EXTENSIONS"
            npm install /community-nodes

            cd /external-hooks
            node migrate.cjs
          {{- if $envSecretName }}
          envFrom:
            - secretRef:
                name: {{ $envSecretName }}
          {{- end }}
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
          volumeMounts:
            - name: data
              mountPath: /home/node
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "_.fullname" . }}
{{- end }}
