apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "_.fullname" . }}
  labels: {{ include "_.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: netapp-file-standard
