name: Deploy Dev Environment

on:
  push:
    branches:
    - main
    paths-ignore:
    - docs/**
    - terraform/**

env:
  GITHUB_REGISTRY: ghcr.io

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read
  packages: write
  security-events: write

jobs:
  build-push-n8n:
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

    - name: Setup Tools
      uses: ./.github/actions/setup-tools

    - name: Build and Push
      uses: egose/actions/docker-build-push@5319d1bf8602fea70da0969e656d136365bb7ff5
      with:
        registry-url: ${{ env.GITHUB_REGISTRY }}
        registry-username: ${{ github.actor }}
        registry-password: ${{ secrets.GITHUB_TOKEN }}
        image-name: bcgov/chwf
        docker-context: .
        docker-file: Dockerfile
        metadata-tags: |
          type=ref,event=branch
          type=sha,format=long,prefix=,suffix=
        trivy: false # available only for GitHub Advanced Security

  deploy:
    needs: [build-push-n8n]
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    permissions:
      contents: read
    environment:
      name: dev

    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

    - name: Authenticate and set context
      uses: redhat-actions/oc-login@dfbd9912672664f9df2023c1c16e07bcf306043c
      with:
        openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: true

    - name: Deploy apps with Helm chart
      run: |
        make upgrade NAMESPACE=${{ vars.OPENSHIFT_NAMESPACE }} IMAGE_TAG=${{ github.sha }}
        kubectl rollout status deployment/chwf-n8n-main
        kubectl rollout status deployment/chwf-n8n-worker
        kubectl rollout status deployment/chwf-n8n-webhook
        kubectl rollout status deployment/chwf-n8n-runner
      working-directory: ./helm/main
